n8n_workflows/daily_meeting_scheduler.json
{
  "name": "SUPERNATURAL - Daily Meeting Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "b1b2c3d4-2222-4aaa-bbbb-000000000001",
      "name": "Every Day 7AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://supernatural-api-pok3.onrender.com/api/webhooks/send-daily-meets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "b1b2c3d4-2222-4aaa-bbbb-000000000002",
      "name": "Send Daily Meet Links",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.emails_sent }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b1b2c3d4-2222-4aaa-bbbb-000000000003",
      "name": "Emails Sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-1",
              "name": "message",
              "value": "=Daily Meet Links Sent! Sessions: {{ $json.sessions_found }} | Emails: {{ $json.emails_sent }} | Time: {{ $now }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "b1b2c3d4-2222-4aaa-bbbb-000000000004",
      "name": "Admin Notification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [950, 200]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 19 * * *"
            }
          ]
        }
      },
      "id": "b1b2c3d4-2222-4aaa-bbbb-000000000005",
      "name": "Every Day 7PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 550]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://supernatural-api-pok3.onrender.com/api/sessions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "b1b2c3d4-2222-4aaa-bbbb-000000000006",
      "name": "Get Tomorrow Sessions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 550],
      "credentials": {}
    }
  ],
  "connections": {
    "Every Day 7AM": {
      "main": [
        [{ "node": "Send Daily Meet Links", "type": "main", "index": 0 }]
      ]
    },
    "Send Daily Meet Links": {
      "main": [
        [{ "node": "Emails Sent?", "type": "main", "index": 0 }]
      ]
    },
    "Emails Sent?": {
      "main": [
        [{ "node": "Admin Notification", "type": "main", "index": 0 }]
      ]
    },
    "Every Day 7PM": {
      "main": [
        [{ "node": "Get Tomorrow Sessions", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}

