n8n_workflows/mentor_student_matching.json
{
  "name": "SUPERNATURAL - Mentor Student Matching",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000001",
      "name": "Every Hour Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_BACKEND_URL/api/webhooks/trigger-matching",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000002",
      "name": "Trigger Matching API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.total_processed }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000003",
      "name": "Any Matches Made?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-1",
              "name": "log",
              "value": "=Matching complete: {{ $json.total_processed }} students processed at {{ $now }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000004",
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [950, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-2",
              "name": "log",
              "value": "=No unmatched students found at {{ $now }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000005",
      "name": "Log Empty",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [950, 400]
    }
  ],
  "connections": {
    "Every Hour Trigger": {
      "main": [
        [{ "node": "Trigger Matching API", "type": "main", "index": 0 }]
      ]
    },
    "Trigger Matching API": {
      "main": [
        [{ "node": "Any Matches Made?", "type": "main", "index": 0 }]
      ]
    },
    "Any Matches Made?": {
      "main": [
        [{ "node": "Log Success", "type": "main", "index": 0 }],
        [{ "node": "Log Empty", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
