n8n_workflows/quiz_automation.json
{
  "name": "SUPERNATURAL - Quiz Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "session-ended",
        "responseMode": "responseNode"
      },
      "id": "c1b2c3d4-3333-4aaa-bbbb-000000000001",
      "name": "Session Ended Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "id": "c1b2c3d4-3333-4aaa-bbbb-000000000002",
      "name": "Wait 5 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://supernatural-api-pok3.onrender.com/api/webhooks/generate-quiz",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "={{ $json.body.session_id }}"
            },
            {
              "name": "topic",
              "value": "={{ $json.body.topic }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-3333-4aaa-bbbb-000000000003",
      "name": "Generate AI Quiz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ quiz_id: $json.quiz_id, questions: $json.questions, status: 'success' }) }}"
      },
      "id": "c1b2c3d4-3333-4aaa-bbbb-000000000004",
      "name": "Respond to Mentor",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [950, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * *"
            }
          ]
        }
      },
      "id": "c1b2c3d4-3333-4aaa-bbbb-000000000005",
      "name": "Every Day 8PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 550]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://supernatural-api-pok3.onrender.com/api/webhooks/send-quiz-reminders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "c1b2c3d4-3333-4aaa-bbbb-000000000006",
      "name": "Send Quiz Reminders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 550],
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-1",
              "name": "result",
              "value": "=Quiz reminders sent: {{ $json.reminders_sent }} at {{ $now }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "c1b2c3d4-3333-4aaa-bbbb-000000000007",
      "name": "Log Reminders",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, 550]
    }
  ],
  "connections": {
    "Session Ended Webhook": {
      "main": [
        [{ "node": "Wait 5 Minutes", "type": "main", "index": 0 }]
      ]
    },
    "Wait 5 Minutes": {
      "main": [
        [{ "node": "Generate AI Quiz", "type": "main", "index": 0 }]
      ]
    },
    "Generate AI Quiz": {
      "main": [
        [{ "node": "Respond to Mentor", "type": "main", "index": 0 }]
      ]
    },
    "Every Day 8PM": {
      "main": [
        [{ "node": "Send Quiz Reminders", "type": "main", "index": 0 }]
      ]
    },
    "Send Quiz Reminders": {
      "main": [
        [{ "node": "Log Reminders", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
